@use "./FunctionSASS/FunctionSASS.scss" as *;

#root {
  --txt-clr: 0 0% 2%;
  // --white-clr:
  --accent-clr: 36 6% 16%;
  --primary-clr: 98 4% 58%;
  --primary-2-clr: 90 4% 82%;

  --bg-clr: 0 0% 96%;
}

body {
  background-color: hsl(0, 0%, 96%);
  // background-color: white;
}
body.modal-open {
  overflow: hidden;
}

.container {
  width: min(1200px, 95%);
  margin-inline: auto;
}

.page__loading{
  // outline: 1px solid red;
  min-height: 80vh;
  display: grid;
  place-content: center;
}

.page__title{
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: hsl(var(--txt-clr));
  text-transform: capitalize;
}
